#game{
    height: 95vh;
    width: 95vw;
    /*outline: 2px solid black;*/
    /*position: relative;*/
    /*background-color: rgba(94, 217, 255, 0.829);*/
}

#scenario{
    height: 95vh;
    width: 1000px;
    /*outline: 2px solid black;*/
    position: relative;
    /*background-color: rgba(58, 92, 102, 0.829);*/
    background-image: url('img/bg.jpg');
    background-repeat: repeat;
}

#character{
    height: 200px;
    width: 170px;
    outline: 1px solid black;
    position: relative;
    top: 60vh;
}

#img{
    height: 200px;
    width: 160px;
}

#block{
    width: 1000px;
    height: 20px;
    background-color: brown;
}

body{
    overflow: hidden;
}