#game{
    height: 34em;
    width: fit-content;
}

#scenario{
    width: 1000px;
    position: absolute;
}

#bg{
    background-repeat: repeat-x;
}

#character{
    height: 200px;
    width: 170px;
    outline: 1px solid black;
    position: absolute;
    top: 20em;
}

#img{
    height: 200px;
    width: 160px;
}

body{
    overflow: hidden;
}

#rightButton{
    position: relative;
    top: 90%;
}